//- include ../mixins.pug

mixin card(title, description)
  div.card
    h1=title
    p=description
    block
    
mixin link(path, name)
  li
    a.link(
      href=path
      class={active: name === current}
  ) #{name}

mixin nav()
  nav.main-nav
    ul
      block

mixin image(source, alt, caption)
  figure.figure-class
    img.image-class(src="images/" + source alt=alt)

    if caption
      figcaption.caption-class=caption

//- +image("my-image.jpg", "This is a caption", "My image")
